.App {
  font-family: sans-serif;
  
}
/* add movie list & fav movie list stylings starts here */
.pro-pic {
  height: 400px;
  width: 300px;
  object-fit: cover;
}
.add-movie-form{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin:16px;
}
.movie-spec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-card{
  width: 300px;
  height:min-content;
}
.movie-list{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  justify-content:space-around;

}
.movie-name{
  margin-top: 0px;
}
.movie-summary{
  margin-top: 0px;
}

/*tic tac toe styling starts here*/
.gamebox{
  height: 150px;
  width:150px;
  border:2px solid black;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.board{
  display:flex;
  flex-wrap: wrap;
  width:492px;
}
.fullgame{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* not found styling*/
.notfound{
  text-align: center;
  font-size: 50px;
  margin:0px;
}