.App {
  font-family: sans-serif;
  text-align: center;
}
.pro-pic {
  height: 400px;
  width: 250px;
  object-fit: cover;
}
.add-movie-form{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin:16px;
}
